/* common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

nav li{
  display: inline-block;
  text-transform:uppercase;
}

h2{
  font-size: 27px;
  padding: 10px 0;
}
/* /common settings */

/* utilities */

.width-limits{
  width: 1200px;
  margin: 0 auto;
}

.float-l{
  float: left;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.button{
  background: #7CBB02;
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
/* /utilities */

.container{
  min-width: 1200px;
}

header{
  background: #0C325A;
  color: #fff;
}

header nav{
  height: 50px;
  line-height: 50px
}

.logo{
  padding-right: 30px;
}

header nav ul{
}

header nav li{
  font-size: 12px;
  padding: 0 10px;
}

header nav ul:last-child{
  float: right;
}

.login{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

header nav ul:last-child li:nth-child(2), header nav ul:last-child li:last-child{
  line-height: normal;
}

.header-background-img{
  margin-top: 100px;
  height: 500px;
  background: url("../img/image.png") no-repeat right;
  background-size: contain;
  padding-top: 100px
}

.header-text{
  width: 600px;
  font-size: 60px;
  margin-bottom: 20px;
}

.top-main{
  background: #D3D3D3;
}

.top-content{
  text-align: center;
  padding: 40px 0;
}

.subtitle{
  padding: 10px 0;
  color: #808080;
  font-size: 18px;
}

.middle-main{
  padding: 10px 0;
  border-bottom: 1px solid #808080;
}

.middle-box{
  width: 33%;
  text-align: center;
  padding: 10px;
  float: left;
}

.middle-img-box{
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 auto;
}

.middle-img{
  height: 150px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.middle-img img{
  height: 100%;
}

.middle-box h2{
  color: #7CBB02
}

.not-hr{
  margin: 0 auto;
  width: 75px;
  border-bottom: 2px solid #808080;
}

.description{
  color: #808080;
  padding: 10px 0;
}
