/* common settings */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

a, a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: inherit;
}

nav li{
  display: inline-block;
  text-transform:uppercase;
}

h3{
  font-size: 27px;
  padding: 10px 0;
}

h2{
  font-size: 35px;
  padding: 10px 0;
}
/* /common settings */

/* utilities */

.width-limits{
  width: 1200px;
  margin: 0 auto;
}

.float-l{
  float: left;
}

.float-r{
  float: right;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.button{
  color: #fff;
  background: #7CBB02;
  text-transform: uppercase;
  padding: 0 10px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  height: 35px;
  line-height: 35px;
}
/* /utilities */

.container{
  min-width: 1200px;
}

header{
  height: 700px;
  background: #0C325A url("../img/image.png") no-repeat right bottom;
  background-size: 60%;
  color: #fff;
  padding-top: 20px;
}

header nav{
  height: 50px;
  line-height: 50px
}

.logo{
  padding-right: 30px;
}

header nav li{
  font-size: 12px;
  padding: 0 10px;
}

.login{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 8px 20px;
}

header nav ul:last-child li:nth-child(2), header nav ul:last-child li:last-child{
  line-height: normal;
}

h1{
  width: 700px;
  font-size: 60px;
}

.header-content h1{
  margin-top: 200px;
}

.header-join{
  margin-top: 30px;
  height: 60px;
  width: 200px;
  line-height: 60px;
}

.top-main{
  background: #D3D3D3;
}

.top-content{
  text-align: center;
  padding: 40px 0;
}

.subtitle{
  padding: 10px 0;
  color: #808080;
  font-size: 18px;
}

.middle-main{
  padding: 10px 0;
  border-bottom: 1px solid #808080;
}

.middle-box{
  width: 33%;
  text-align: center;
  padding: 30px 10px;
  float: left;
}

.middle-img{
  height: 175px;
}

.middle-img img{
  height: 100%;
}

.middle-box h3{
  color: #7CBB02
}

.not-hr{
  margin: 0 auto;
  width: 75px;
  border-bottom: 2px solid #808080;
}

.description{
  color: #808080;
  padding: 10px 0;
  font-size: 20px;
  line-height: 30px;
}

.bottom-box{
  width: 50%;
  padding: 50px;
}

.bottom-box:last-child{
  width: 48%;
}

.bottom-box .description{
  font-size: 22px;
  padding-bottom: 20px;
}

.bottom-box a{
  color: #5586BC;
  text-decoration: underline;
}

footer{
  height: 200px;
  background: #D3D3D3;
  line-height: 180px;
}

input.button{
  height: 50px;
  border: none;
}
